
@{
    ViewBag.Title = "Home";
}

@*<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h1>Windows 8 Hackathon</h1>
            <p>
                Microsoft ประเทศไทย ได้จัดงานใหญ่ Microsoft TECHDAYS  Thailand  2012 หรือในอดีตคืองาน Microsoft Technet MSDN นี่เอง  ที่รวมตัวระหว่างกลุ่ม IT Pro และ Developer  มาร่วมเสวนาและเผยเทคนิคเกี่ยวกับการใช้ซอฟต์แวร์ Microsoft ในการพัฒนาโปรแกรม ให้กับนักพัฒนา และคนทำงานระดับองค์กร แต่หนึ่งในไฮไลน์ของงานคือ เผยโฉมความสามารถ Windows 8 ครั้งแรกในไทยในงานนี้
            </p>
            <p><a class="btn btn-primary" @Html.ActionLink("Read More", "Windows8Camp", "Seminar")</a></p>
        </div>
    </div>
</div>
<div class="bs-docs-featurette">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>กลยุทธ์การตลาดด้วย Location Based</h2>
                <p>
                    เรื่องที่กำลังฮอตอยู่ตอนนี้สำหรับ การตลาด 3.0   Marketing 3.0   คือการทำ Location Based Marketing ซึ่งไม่ใช่เรื่องใหม่อะไร แต่เป็นเรื่องเดียวกับ Localized Marketing คือการทำการตลาดท้องถิ่น หรือ ณสาขาที่เราต้องการให้ลูกค้าเข้าไป แวะเยี่ยมร้าน หรือ สาขาของเราเยอะ ๆ  ไม่ว่าเราเป็น  ร้านอาหาร  ร้านกาแฟ  ร้านแฟชั่น  ร้านขายหนังสือ  ร้านเครื่องใช้ไฟฟ้าร้านค้าปลีกของเรา  พูดง่ายๆคือหน้าร้าน ของเรา  หรือกรณีเราจัด Event เราต้องการให้คนไปร่วมแจม มากๆ  ไม่ว่าเป็น  คอนเสริต์   แฟชั่นโชว์  ลานเบียร์   งานแสดง   งานสัปดาห์หนังสือ    เราก็จะก็มีกิจกรรมดึงดูดคนไป    ทั้งดารา  นักแสดง    และที่สำคัญคือ  Promotion จูงใจลูกค้าที่เข้าไป Check-in   กลไกที่สำคัญของมันคือ ต้องมีการ Check-in  ในระบบ  เมื่อก่อนเข้าร้าน หรือเข้างาน เราจะมีการให้ลูกค้าลงทะเบียน  คราวนี้ถ้าเป็นยุคน้องโบ  ก็ต้องตั้งโต๊ะลงทะเบียนกัน   แต่ในยุค Marketing  3.0  นี้จะมีเครื่องมือ ทางเทคโนโลยี  ไม่ว่าจะCheck-in ผ่าน Facebook Place  หรือ  Foursquare  ถ้าท่านมีมือถือ iPhone หรือ iPad  พอเข้า  Facebook  ด้านขวาบนจะมีคำว่า  Check-in   กดลงไปจะมีสถานที่บอก พร้อมพิกัดของคุณ
                </p>
                <p><a class="btn btn-default" @Html.ActionLink("Read More", "LocationBased", "Seminar")</a></p>
            </div>
            <div class="col-md-4">
                <h2>อบรมวิชาการ เรื่องประชาคม Asean</h2>
                <p>
                    สมาคม ประชาชาติแห่งเอเชียตะวันออกเฉียงใต้หรือ อาเซียน ได้รับการจัดตั้งขึ้นในวันที่ 8 สิงหาคม 2510 ณ วังสราญรมย์ ในกระทรวงการต่างประเทศ กรุงเทพมหานคร โดยมีประเทศสมาชิกเริ่มแรก 5 ประเทศ คือ อินโดนีเซีย มาเลเซีย ฟิลิปปินส์ สิงคโปร์ และไทย ต่อมา บรูไน ดารุสซาลามได้เข้าร่วมเป็นสมาชิกในวันที่ 8 มกราคม 2527 เวียดนามได้เข้าร่วมเมื่อวันที่ 28 กรกฎาคม 2538 ลาวและพม่าเข้าร่วมเมื่อวันที่ 23 กรกฎาคม 2540 และกัมพูชาเมื่อวันที่ 30 เมษายน 2542
                </p>
                <p><a class="btn btn-default" @Html.ActionLink("Read More", "Asean", "Seminar")</a></p>
            </div>
            <div class="col-md-4">
                <h2>รำกลองยาว</h2>
                <p>
                    บรรยากาศงาน"นิเทศ นิทรรศ ศรีปทุมชลบุรี ครั้งที่ 2 " ณ ศูนย์การค้าเซ็นทรัลพลาซ่า ชลบุรี ชั้น1 ซึ่งมีกิจกรรมต่างๆ อาทิ การแสดงเต้น COVER ,การจัดประกวด DJ , การแสดงผลงานต่างๆของนักศึกษา , การร้องคาราโอเกะชิงรางวัล รวมไปถึง การแสดงดนตรี SPUC โฟลค์ซอง ของนักศึกษาคณะนิเทศศาสตร์ มหาวิทยาลัยศรีปทุม วิทยาเขตชลบุรี พร้อมทั้งข้อมูลการศึกษาต่อทั้งป.ตรี-ป.โท ซึ่งจัดขึ้นเมื่อวันที่15-17 พ.ค.55
                </p>
                <p><a class="btn btn-default" @Html.ActionLink("Read More", "Dump", "Seminar")</a></p>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="container-fluid">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" align="center">
                <div class="item active">
                    @*<img src="..." alt="...">*@
                    <img src="~/Images/hackathon/DSC_6380.jpg">
                    <div class="carousel-caption">
                        <h3>Windows 8 Hackathon</h3>
                        <p>สถานที่: มหาวิทยาลัยอัสสัมชัญ</p>
                        <p>@Html.ActionLink("Read More", "Windows8Camp", "Seminar", new { @class = "btn btn-sm btn-primary" })
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/location-based/DSC_5974.jpg">
                    <div class="carousel-caption">
                        <h3>กลยุทธ์การตลาดด้วย Location Based</h3>
                        <p>สถานที่: ห้อง Auditorium ศูนย์การประชุมแห่งชาติสิริกิต์</p>
                        <p>@Html.ActionLink("Read More", "LocationBased", "Seminar", new { @class = "btn btn-sm btn-primary" })
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/asean/DSC_7471.jpg">
                    <div class="carousel-caption">
                        <h3>อบรมวิชาการ เรื่องประชาคม Asean</h3>
                        <p>สถานที่: มหาวิทยาลัยศรีปทุม วิทยาเขตชลบุรี</p>
                        <p>@Html.ActionLink("Read More", "Asean", "Seminar", new { @class = "btn btn-sm btn-primary" })
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/dump/DSC_4945.jpg">
                    <div class="carousel-caption">
                        <h3>รำกลองยาว</h3>
                        <p>สถานที่: Central Plaza Chonburi</p>
                        <p>@Html.ActionLink("Read More", "Dump", "Seminar", new { @class = "btn btn-sm btn-primary" })
                    </div>
                </div>
            </div>

            <!-- Controls -->
            @*<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>*@
        </div>
    </div>
</div>
<div class="row"><hr class="featurette-divider"></div>
<div class="row">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Windows 8 Hackathon</h2>
                <p>
                    Microsoft ประเทศไทย ได้จัดงานใหญ่ Microsoft TECHDAYS  Thailand  2012 หรือในอดีตคืองาน Microsoft Technet MSDN นี่เอง  ที่รวมตัวระหว่างกลุ่ม IT Pro และ Developer  มาร่วมเสวนาและเผยเทคนิคเกี่ยวกับการใช้ซอฟต์แวร์ Microsoft ในการพัฒนาโปรแกรม ให้กับนักพัฒนา และคนทำงานระดับองค์กร แต่หนึ่งในไฮไลน์ของงานคือ เผยโฉมความสามารถ Windows 8 ครั้งแรกในไทยในงานนี้
                </p>
                <p>@Html.ActionLink("Read More", "Windows8Camp", "Seminar", new { area = "" }, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/hackathon/DSC_6380.jpg">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/location-based/DSC_5974.jpg">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">กลยุทธ์การตลาดด้วย Location Based</h2>
                <p>
                    เรื่องที่กำลังฮอตอยู่ตอนนี้สำหรับ การตลาด 3.0 คือการทำ Location Based Marketing ซึ่งไม่ใช่เรื่องใหม่อะไร แต่เป็นเรื่องเดียวกับ Localized Marketing คือการทำการตลาดท้องถิ่น หรือ ณสาขาที่เราต้องการให้ลูกค้าเข้าไป แวะเยี่ยมร้าน หรือ สาขาของเราเยอะ ๆ  ไม่ว่าเราเป็น  ร้านอาหาร  ร้านกาแฟ  ร้านแฟชั่น  ร้านขายหนังสือ  ร้านเครื่องใช้ไฟฟ้าร้านค้าปลีกของเรา  พูดง่ายๆคือหน้าร้าน ของเรา  หรือกรณีเราจัด Event เราต้องการให้คนไปร่วมแจม มากๆ  ไม่ว่าเป็น  คอนเสริต์   แฟชั่นโชว์  ลานเบียร์   งานแสดง   งานสัปดาห์หนังสือ    เราก็จะก็มีกิจกรรมดึงดูดคนไป    ทั้งดารา  นักแสดง    และที่สำคัญคือ  Promotion จูงใจลูกค้าที่เข้าไป Check-in   กลไกที่สำคัญของมันคือ ต้องมีการ Check-in  ในระบบ  เมื่อก่อนเข้าร้าน หรือเข้างาน เราจะมีการให้ลูกค้าลงทะเบียน  คราวนี้ถ้าเป็นยุคน้องโบ  ก็ต้องตั้งโต๊ะลงทะเบียนกัน   แต่ในยุค Marketing  3.0  นี้จะมีเครื่องมือ ทางเทคโนโลยี  ไม่ว่าจะCheck-in ผ่าน Facebook Place  หรือ  Foursquare  ถ้าท่านมีมือถือ iPhone หรือ iPad  พอเข้า  Facebook  ด้านขวาบนจะมีคำว่า  Check-in   กดลงไปจะมีสถานที่บอก พร้อมพิกัดของคุณ
                </p>
                <p>@Html.ActionLink("Read More", "LocationBased", "Seminar", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">อบรมวิชาการ เรื่องประชาคม Asean</h2>
                <p>
                    สมาคม ประชาชาติแห่งเอเชียตะวันออกเฉียงใต้หรือ อาเซียน ได้รับการจัดตั้งขึ้นในวันที่ 8 สิงหาคม 2510 ณ วังสราญรมย์ ในกระทรวงการต่างประเทศ กรุงเทพมหานคร โดยมีประเทศสมาชิกเริ่มแรก 5 ประเทศ คือ อินโดนีเซีย มาเลเซีย ฟิลิปปินส์ สิงคโปร์ และไทย ต่อมา บรูไน ดารุสซาลามได้เข้าร่วมเป็นสมาชิกในวันที่ 8 มกราคม 2527 เวียดนามได้เข้าร่วมเมื่อวันที่ 28 กรกฎาคม 2538 ลาวและพม่าเข้าร่วมเมื่อวันที่ 23 กรกฎาคม 2540 และกัมพูชาเมื่อวันที่ 30 เมษายน 2542
                </p>
                <p>@Html.ActionLink("Read More", "Asean", "Seminar", new { area = "" }, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/asean/DSC_7471.jpg">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/dump/DSC_4945.jpg">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">รำกลองยาว</h2>
                <p>
                    บรรยากาศงาน"นิเทศ นิทรรศ ศรีปทุมชลบุรี ครั้งที่ 2 " ณ ศูนย์การค้าเซ็นทรัลพลาซ่า ชลบุรี ชั้น1 ซึ่งมีกิจกรรมต่างๆ อาทิ การแสดงเต้น COVER ,การจัดประกวด DJ , การแสดงผลงานต่างๆของนักศึกษา , การร้องคาราโอเกะชิงรางวัล รวมไปถึง การแสดงดนตรี SPUC โฟลค์ซอง ของนักศึกษาคณะนิเทศศาสตร์ มหาวิทยาลัยศรีปทุม วิทยาเขตชลบุรี พร้อมทั้งข้อมูลการศึกษาต่อทั้งป.ตรี-ป.โท ซึ่งจัดขึ้นเมื่อวันที่15-17 พ.ค.55
                </p>
                <p>@Html.ActionLink("Read More", "Dump", "Seminar", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>